@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        display: flex;
        flex-direction: row;
        width: 700px;
        height: 450px;
        border-radius: 0px;
    }

    #sec-form {
        height: 100%;
        width: 100%;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    #sec-form div {
        justify-content: center;
        width: 300px;
    }

    #sec-color {
        height: 100%;
        width: 250px;
        border-radius: 0px 50px 50px 0px;
    }
}

@media screen and (min-width: 992px) {

    main {
        display: flex;
        flex-direction: row-reverse;
        width: 700px;
        height: 450px;
        border-radius: 0px;
    }

    #sec-form {
        height: 100%;
        width: 100%;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 300px;
    }

    #sec-form div {
        justify-content: center;
        width: 100%;
    }
    
    #sec-color {
        height: 100%;
        width: 300px;
        border-radius: 50px 0px 0px 50px;
    }
}